@import "tailwindcss";

@theme {
  --color-primary: #ff5200;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.headline {
  @apply font-bold text-[20px] md:text-[22px] lg:text-[24px] xl:text-[28px] text-gray-700 my-4 lg:my-5;
}
.container-section {
  @apply mt-6 md:mt-10 lg:mt-14 px-4 md:px-0 md:w-[90%] lg:w-[80%] md:mx-auto;
}
